body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size:   20px;
  line-height: 30px;
}

#test_area a { color: #000; background-color:#ff0000; }
h1 {font-size:   100px;}
h2 {font-size:   80px;}
h3 {font-size:   40px;}
#test_area a:visited { color: #000; background-color:#ff0000; }
#test_area a:hover { color: #000; background-color:#ffffff; }

.privly_link { color: #000; background-color:#ff0000; }